.PageContainer {
    width: 100%;
}

.PageContent {
    width: min(1280px, 90%);
}

.Flex {
    display: flex;
}

.CenterH {
    justify-content: center;
}

.Stack {
    flex-direction: column;
}

.Gap5 {
    gap: 5px;
}